# Data Science Tools and Ecosystem

## Author
augustine

__Objectives:__
- List popular languages for Data
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. JavaScript
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow

|Data Science Tools|
|----|
|Apache Hadoop|
|TensorFlow|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5

# This is a simple arithmetic expression to multiply then add integers

17

In [12]:
hours = 200 / 60
print(hours, " hours")

3.3333333333333335  hours